@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #C5EBD6;
    --cor1: #E1F5EA;
    --cor2: #F9FDFB;
    --cor3: #84E1AD;
    --cor4: #32A664;
    --cor6: #134429;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(var(--cor3), var(--cor4), var(--cor6));
    padding: 10px;
    margin: 0px;
    max-width: 100%;
    min-width: 320px;
}
span#burguer {
    background-color: var(--cor6);
    display: block;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
span#burguer:hover{
    background-color: var(--cor3);
    color: black;
}
div#cabecalho {
    text-align: center;
    color: white;
}
div#cabecalho > h1 {
    text-shadow: 1px 1px 1px black;
}
div#cabecalho > p {
    font-weight: normal;
}
menu {
    display: block;
}
menu > ul {
    list-style-type: none;
}
menu  a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
}
menu a:hover {
    color: var(--cor6);
    background-color: var(--cor3);
    border-radius: 5px;
}
main {
    display: block;
    margin: auto;
    max-width: 1000px;
    
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
    background-color: white;
}
main > h1 {
    text-align: center;
    font-family: 'Idroid', 'Arial', sans-serif;
}
main > p {
    text-align: justify;
}
main > h2 {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1) , var(--cor2));
    font-family: 'Idroid', 'Arial', sans-serif;
}
strong {
    color: black;
    padding: 2px 6px;
    background-color: var(--cor4);
}
img{
    width: 100%;
}
img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    margin: 0px -10px 30px -10px;
    padding: 20px;
    background-color: var(--cor6);
    padding-bottom: 55.4%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.411);
}
aside > ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    text-decoration: underline;
    columns: 2;
}
aside > h3 {
    margin: -10px -10px 0px -10px;
    padding: 5px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor4);
}
div#bololo > p {
    padding: 10px;
}
footer > p {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: var(--cor6);
}